Repository albert118/InMeal, changes with the labels that .github/labeler.yml gives for each.
All labels: backend, frontend, dependencies

WIP
  .github/workflows/main.yml
Labels: none

loglevel WARNING for GRI in prod
  apps/gri/Dockerfile
Labels: none

proxy settings for microservice configured
  .env.example
  apps/Configuration/ConfigurationFactory.cs
  apps/Configuration/GenerativeRecipeImagesMicroserviceConfig.cs
  apps/InMeal.Api/appsettings.Production.json
  apps/InMeal.Infrastructure/External/GenerativeRecipeImages/GenerativeRecipeImages.cs
  apps/fui/nginx/default.conf
  apps/fui/vite.config.ts
  apps/gri/Dockerfile
  apps/gri/project.json
  docker-compose.yml
  package.json
Labels: none

nginx configs updated (imrpoved logging) * logging greatly simplified
  apps/fui/Dockerfile
  apps/fui/nginx/default.conf
  apps/fui/nginx/mime.types
  apps/fui/nginx/nginx.conf
  apps/fui/nginx/proxy/proxy.conf
  apps/gri/Dockerfile
  docker-compose.yml
Labels: none

retry quick fix
  apps/Configuration/ConfigurationFactory.cs
  apps/InMeal.Api/appsettings.Development.json
  apps/InMeal.Api/appsettings.Production.json
  apps/InMeal.Infrastructure/External/GenerativeRecipeImages/GenerativeRecipeImages.cs
Labels: none

Added HTTP Polly package here because WIP is easy
  Directory.Packages.props
  apps/Configuration/GenerativeRecipeImagesMicroserviceConfig.cs
  apps/InMeal.Api/InMeal.Api.csproj
  apps/InMeal.Infrastructure/InMeal.Infrastructure.csproj
  apps/InMeal.Infrastructure/Interfaces/Registration/InfrastructureRegistrationExtensions.cs
Labels: dependencies

Production build microservice configuration (#133)
  .env.example
  Directory.Packages.props
  apps/Configuration/ConfigurationFactory.cs
  apps/Configuration/GenerativeRecipeImagesMicroserviceConfig.cs
  apps/InMeal.Api/InMeal.Api.csproj
  apps/InMeal.Api/appsettings.Development.json
  apps/InMeal.Api/appsettings.Production.json
  apps/InMeal.Infrastructure/External/GenerativeRecipeImages/GenerativeRecipeImages.cs
  apps/InMeal.Infrastructure/InMeal.Infrastructure.csproj
  apps/InMeal.Infrastructure/Interfaces/Registration/InfrastructureRegistrationExtensions.cs
  apps/fui/Dockerfile
  apps/fui/nginx/default.conf
  apps/fui/nginx/mime.types
  apps/fui/nginx/nginx.conf
  apps/fui/nginx/proxy/proxy.conf
  apps/fui/vite.config.ts
  apps/gri/Dockerfile
  apps/gri/project.json
  docker-compose.yml
  package.json
Labels: dependencies

bump READMEs
  README.md
  apps/gri/README.md
Labels: none

Bump readmes with details I've forgotten (#141)
  README.md
  apps/gri/README.md
Labels: none

install nx/jest
  nx.json
  package-lock.json
  package.json
Labels: dependencies

npx nx migrate 18.0
  migrations.json
  package-lock.json
  package.json
Labels: dependencies

use-api test scaffolding
  jest.config.js
  jest.preset.js
  libs/use-api/jest.config.js
  libs/use-api/project.json
  libs/use-api/tests/canary.test.js
  libs/use-api/tsconfig.json
  libs/use-api/tsconfig.spec.json
  nx.json
  package-lock.json
  package.json
Labels: frontend, dependencies

bootstrapped FUI testing
  apps/fui/project.json
  apps/fui/tsconfig.json
  libs/use-api/tests/canary.test.js
Labels: none

bootstrapped FUI testing
  apps/fui/jest.config.js
  apps/fui/tests/canary.test.js
  apps/fui/tsconfig.spec.json
Labels: none

ignore tooling and package directories
  apps/fui/tsconfig.spec.json
  libs/use-api/jest.config.js
  libs/use-api/tsconfig.spec.json
  nx.json
Labels: none

tweak pathing
  apps/fui/src/canary.test.js
  libs/use-api/src/canary.test.js
Labels: none

Infrastructure/bump nx to v18 and support Jest (#142)
  apps/fui/jest.config.js
  apps/fui/project.json
  apps/fui/src/canary.test.js
  apps/fui/tsconfig.json
  apps/fui/tsconfig.spec.json
  jest.config.js
  jest.preset.js
  libs/use-api/jest.config.js
  libs/use-api/project.json
  libs/use-api/src/canary.test.js
  libs/use-api/tsconfig.json
  libs/use-api/tsconfig.spec.json
  migrations.json
  nx.json
  package-lock.json
  package.json
Labels: frontend, dependencies

bump installs for testing and updated README
  README.md
  package-lock.json
Labels: dependencies

Infrastructure/bump installs for testing and updated README (#143)
  README.md
  package-lock.json
Labels: dependencies

fixups for test config and extend canary test
  apps/fui/jest.config.js
  apps/fui/src/VersionInfo.js
  apps/fui/src/canary.test.js
  apps/fui/tsconfig.json
  apps/fui/tsconfig.lib.json
  apps/fui/tsconfig.spec.json
  jest.config.js
  libs/use-api/jest.config.js
Labels: frontend

test coverage for utils
  apps/fui/src/canary.test.js
  apps/fui/src/utils/childrenUtils.test.js
  apps/fui/src/utils/objectMap.test.js
  apps/fui/src/utils/stringUtils.js
  apps/fui/src/utils/stringUtils.test.js
  package-lock.json
  package.json
Labels: dependencies

Infrastructure/testing the simple stuff (coverage of utils and fixup Jest module import config) (#149)
  apps/fui/jest.config.js
  apps/fui/src/VersionInfo.js
  apps/fui/src/canary.test.js
  apps/fui/src/utils/childrenUtils.test.js
  apps/fui/src/utils/objectMap.test.js
  apps/fui/src/utils/stringUtils.js
  apps/fui/src/utils/stringUtils.test.js
  apps/fui/tsconfig.json
  apps/fui/tsconfig.lib.json
  apps/fui/tsconfig.spec.json
  jest.config.js
  libs/use-api/jest.config.js
  package-lock.json
  package.json
Labels: frontend, dependencies

bump version for release
  apps/fui/src/VersionInfo.js
Labels: none

release/bump version for release (#150)
  apps/fui/src/VersionInfo.js
Labels: none

pass canary with updated version
  apps/fui/src/canary.test.js
Labels: none

added dependency for React testing @testing-library/user-event
  package-lock.json
  package.json
Labels: dependencies

convert to ESM modules for config setup
  jest.config.js
  jest.preset.js
Labels: frontend

configure global imports for React testing
  apps/fui/jest.config.js
  apps/fui/setupTestsAfterEnv.js
  jest.config.js
  jest.preset.js
Labels: frontend

extend canary test to check we can render a simple component
  apps/fui/src/canary.test.js
Labels: none

test coverage of error context + hook
  apps/fui/setupTestsAfterEnv.js
  apps/fui/src/canary.test.js
  apps/fui/src/hooks/data/errorContext.test.js
Labels: none

more tests
  apps/fui/setupTestsAfterEnv.js
  apps/fui/src/hooks/fetch/errorHandler.test.js
  apps/fui/src/hooks/fetch/useFetch.js
  apps/fui/src/hooks/fetch/useFetch.test.js
Labels: none

removed extra console log
  apps/fui/src/hooks/fetch/useFetch.js
Labels: none

Feature/even more testing (#151)
  apps/fui/jest.config.js
  apps/fui/setupTestsAfterEnv.js
  apps/fui/src/canary.test.js
  apps/fui/src/hooks/data/errorContext.test.js
  apps/fui/src/hooks/fetch/errorHandler.test.js
  apps/fui/src/hooks/fetch/useFetch.test.js
  package-lock.json
  package.json
Labels: dependencies

updated README
  README.md
Labels: none

fix horiz scrolling bug
  apps/fui/src/styles/local/layouts/layouts.scss
Labels: none

glass background effect now readable
  apps/fui/src/components/MinimalistSidebar/MinimalistSidebar.jsx
  apps/fui/src/styles/local/mixins/_glass-background.scss
  apps/fui/src/styles/local/partials/2-components/minimalist-sidebar/_helper-mixins.scss
  apps/fui/src/styles/local/partials/2-components/minimalist-sidebar/minimalist-sidebar.scss
  apps/fui/src/styles/local/partials/2-components/simple-card.scss
Labels: none

ensure glass-background design is available as a component
  apps/fui/src/components/GlassBackground/GlassBackground.jsx
  apps/fui/src/components/GlassBackground/index.jsx
  apps/fui/src/components/index.jsx
  apps/fui/src/styles/local/layouts/layouts.scss
  apps/fui/src/styles/local/mixins/_glass-background.scss
Labels: none

clean out unused usages
  apps/fui/src/styles/local/partials/2-components/minimal-carousel.scss
  apps/fui/src/styles/local/partials/2-components/minimalist-sidebar/_helper-mixins.scss
  apps/fui/src/styles/local/partials/5-pages/manage-recipes-page/manage-recipes-page.scss
Labels: none

match radii
  apps/fui/src/components/Card/ImageCard.jsx
Labels: none

tweak glass background (i cant help it)
  apps/fui/src/components/GlassBackground/GlassBackground.jsx
Labels: none

.github/labeler.yml:

bug:
    - head-branch: ['^bug']

documentation:
    - head-branch: ['^documentation']
    - changed-files:
          - any-glob-to-any-file: ['docs/**', 'apps/**/*.md']

housekeeping:
    - head-branch: ['^housekeeping']
    - changed-files:
          - any-glob-to-any-file: ['.*ignore', '.eslint*', '.prettier*']

infrastructure:
    - head-branch: ['^infrastructure']
    - changed-files:
          - any-glob-to-any-file:
                [
                    '*.yml',
                    'Docker',
                    '*.config',
                    'nx.json',
                    'package.json',
                    'pyvenv.cfg',
                    '.config/**'
                ]

enhancement:
    - head-branch: ['^enhancement']

backend:
    - changed-files:
          - any-glob-to-any-file: ['*.cs', 'Directory.Build.*']

frontend:
    - changed-files:
          - any-glob-to-any-file: ['*.js', '*.jsx', '*.ts', '*.tsx']

dependencies:
    - changed-files:
          - any-glob-to-any-file:
                [
                    'package-lock.json',
                    'poetry.lock',
                    'Directory.Packages.props',
                    '.nx-dotnet.rc.json'
                ]
